  {%- for item in items -%}
   
 <!--
media_entity.bundle.photograph
node.conservancy_commons_newsletter.field_park_pic
-->

  {% set image_url = file_url(item.content['#media'].field_image.entity.uri.value) %}
  {% set image_alt = item.content['#media'].field_image.alt %}
  {% set image_description = item.content['#media'].field_description.value %}
  {% set photo_credit = item.content['#media'].field_photo_credit.value %}
  {% set site_url = url('<front>') %}
  

<!--
-- set thumbnail_image_url = thumbnail_image|merge({'#image_style': 'Thumbnail_133'}) --
here is the thumbnail image url: {[thumbnail_image_url}}
default image {-kint(content.field_item_thumbnail.default_image)-}
paragraph.newsletter_item.field_item_thumbnail is the id 
alt_field, title_field

uri and title for the field_item_link




     <!-- PARK PIC Full Width, Fluid Column : BEGIN -->
                        <tr>
                            <td>
                                <img src="{{site_url}}{{image_url}}" alt="{{image_alt}}" height="400" width="600" border="0" style="display: block;" class="fluid">
                            </td>
                        </tr>

                  
                        <tr>
                            <td style="">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" bgcolor="#AEB236">
                                    <tr>
                                        <td style="padding: 30px;  font-size: 16px; line-height: 22px; color: #ffffff; font-family: 'Slabo 13px', serif;"  align="center">
                                            <div align="center"><img src="http://staff.parksconservancy.org/sites/default/files/images/camera.png" alt="camera" width="55"  height="49" ></div>
                                            <h2 align="center" style="text-align: center; letter-spacing: 2px;">PARK PIC OF THE WEEK</h2>
                                            <hr style="width: 75%; height: 1px; color: #ffffff; background-color: #ffffff; opacity: .8; border: none;">
                                            <p style="font-size: .8em">Photo by {{photo_credit}} <br>
                                                <em>{{image_description|raw}} </em></p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- PARK PIC Full Width, Fluid Column : END -->

 {%- endfor -%}